body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;


  background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-header,
.slider {
  background-color: #eeeeee;
}

.main-nav {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.site-nav,
.cart {
	list-style: none;
}

.site-nav a,
.cart {
	color: #000000;
}

.site-nav a:hover,
.site-nav a:focus,
.cart:hover,
.cart:focus {
  color: #fb565a;
}

.site-nav a:active,
.cart:active {
  opacity: 0.3;
  color: #000000;
}

.slider-list {
	list-style: none;
}

.slider-lead {
  font-size: 55px;
  color: #000000;
  letter-spacing: 0;
  line-height: 55px;
}

.button-more {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
}

.button-more a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-more:hover {
  background-color: #e74246;
}

.button-more:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.button-more:active a {
  opacity: 0.3;
}

.slider-item-1 {
  background-image: url("../img/slide1.png");

  background-position: 0 0;
  background-repeat: no-repeat;

  width: 768px;
  height: 448px;
}

.slider-item-2 {
  background-image: url("../img/slide2.png");

  background-position: 0 0;
  background-repeat: no-repeat;

  width: 768px;
  height: 448px;
}

.slider-item-3 {
  background-image: url("../img/slide3.png");

  background-position: 0 0;
  background-repeat: no-repeat;

  width: 768px;
  height: 448px;
}


.advantages-list {
  list-style: none;
}


.buy-button {
  width: 160px;
  height: 50px;
}

.buy-button a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.button-red {
  background-color: #fb565a;
}

.button-green {
  background-color: #00ca74;
}

.button-yellow {
  background-color: #efc84a; 
}


.button-red:hover {
  background-color: #e74246;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-yellow:hover {
  background-color: #eab534; 
}

.button-red:active {
  background-color: #d7373b;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow:active {
  background-color: #e5a722; 
}


.button-red:active a {
  opacity: 0.3;
}

.button-green:active a {
  opacity: 0.3;
}

.button-yellow:active a {
  opacity: 0.3;
}

/* 
тут надо вставить "о нас"
*/

.partners-list {
  list-style: none;
}

.partners-list img {
  opacity: 0.2;
}

.partners-list img:hover {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}



/* svg:hover {
background: #D7373B;
box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
}

*/